.FormUser{
  &__FormField{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__Form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__SaveButton{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
}