@use "@/styles" as *;

.CreateSaleForm {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;

  &__Form{
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__FormRow {
    display: flex;
    gap: $spacing-md;
    align-items: flex-start;
    
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__FormField {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    
    @media (max-width: 768px) {
      flex-direction: column;
    }
    
    &--correlativo {
      width: 150px;
      
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    
    &--cliente {
      flex: 1;
    }
    
    &--half {
      flex: 1;
    }
    
    &--third {
      flex: 1;
    }
    
    &--descripcion {
      flex: 1;
    }
    
    &--small {
      width: 120px;
      
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    
    &--button {
      display: flex;
      align-items: flex-end;
      padding-bottom: 2px;
    }
  }

  &__AddItems {
    display: flex;
    align-items: end;
    gap: $spacing-md;
  }
}