@use '@/styles' as *;

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-xl;
  padding-top: $spacing-sm;
}

// Ajustes responsivos
@include respond-to(sm) {
  .form {
    display: flex;
    flex-direction: column;
  }
}