@import './styles/variables';
@import './styles/mixins';

:root {
  font-family: $font-family-secondary;
  line-height: $line-height-normal;
  font-weight: $font-weight-normal;

  color-scheme: light dark;
  color: $text-light;
  background-color: $neutral-1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  @include flex-center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $text-primary;
    background-color: $neutral-5;
  }
  
}